<div>

</div>
<hr>
<% if(user!=null){ %>

<table>

    
    <%user1.forEach(function(item){%>
        <tr>
    <td><%= item%> </td>
    <%})%>
    
    

    
</tr>
<% user.forEach(function(item){ %>
<tr>
    <td><%= item%></td>
    
    
    

</tr>
<% }) %>
</table>
<% } %>