<div>

</div>
<hr>
<% if(user!=null){ %>

<table>
<tr>
    <th>symbol of the company</th>
    <th>Price of shares </th>
    

    
</tr>
<% user.forEach(function(item){ %>
<tr>
    <td><%= item.symbol%></td>
    <td><%= item.volume%></td>
    
    

</tr>
<% }) %>
</table>
<% } %>