.app{
  display:flex;
  justify-content: space-between;
}
.app_left {
  
  background-color:whitesmoke;
   height:100vh;
  width:70vw;
 
}
.app_right {
 text-align: end;
  width: 25vw;
  background-color:whitesmoke;
  height:100vh;
}
.register{
 display:flex;
 
 justify-content: center;
 align-items: center;
}
.registration{
  margin-top: 100px;
  height:600px;
  width:800px;
  background-color: thistle;
  display:flex;
  
}
.login{
  display:flex;
  
  justify-content: center;
  align-items: center;
 }
 .login_component{
   margin-top: 100px;
   height:600px;
   width:800px;
   background-color: thistle;
   display:flex;
   
 }
.register_image{
  position:relative;
 width : 50%;
}
.register_image > img{
  position:absolute;
  width:100%;
  height:100%;
}
.form_content{
  display:flex;
  flex-direction: column;
  justify-content: space-evenly;

}


